html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --primary-clr: rgb(46, 109, 154);
    --header: rgb(194, 211, 223);
    --border-clr: rgb(231, 206, 97);
    --main-text-clr: rgb(255, 254, 254);
    --bg: rgb(145, 145, 145);
    --cards: rgb(254, 253, 253);
    --light-txt-clr: rgb(148, 148, 148);
}

/* BASIC STYLING || */
body {
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 300; */
    letter-spacing: 0.08rem;
}


/* GRID CONTAINER || */
#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 1fr 5fr; */
    /* gap: 15px; */
    
}

#container div {
    /* border: solid 1px black; */
}


/* SIDEBAR || */
#sidebar {
    grid-row: 1 / 7;
    display: grid;
    background-color: var(--primary-clr);
}

#sidebar h2 {
    position: relative;
    padding-left: 20px;
}

#sidebar li {
    position: relative;
    padding-left: 20px;
}

#sidebar img {
    width: 50px;
    position: inherit;
    top: 20px;
    right: 10px;
}



/* HEADER || */
#header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--header);
    /* grid-template-rows: 1fr 1fr; */
}

/* Header Top || */
.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    padding-left: 70px;
    justify-self: start;
}

.search-bar, .top-right-profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-self: start;
}

.search-bar {
    display: grid;
    /* justify-content: start; */
}

.top-right-profile {
    display: grid;
    gap: 30px;
    font-size: 25px;
    font-weight: bold;

}

.header-top img[alt="Profile Icon"] {
    width: 50px;
}

.header-top img[alt="Search Icon"],
.header-top img[alt="Bell Icon"] {
    width: 40px;
}

.header-top > * {
    display: grid;
    align-self: center;
    justify-self: center;
}

.header-top > input {
    display: grid;
    justify-self: start;
    min-width: 800px;
}

input {
    border-radius: 50px;
    border: none;
    height: 30px;
    min-width: 600px;
    font-size: 20px;
    padding-left: 15px;
    color: var(--light-txt-clr);
}


/* Header Bottom || */
.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    padding-bottom: 15px;
    /* grid-auto-flow: column; */
}

.icon-greeting {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

.greeting {
    padding-left: 20px;
}

.greeting h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 8px;
}

.greeting p {
    font-size: 18px;
}

.header-bottom > * {
    display: grid;
    align-self: center;
    justify-self: center;
}

.header-bottom img {
    width: 80px;
}

.header-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    justify-self: center;
}

button {
    appearance: none;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-clr);
    color: var(--main-text-clr);
    font-size: 18px;
}

/* MAIN CONTENT || */
#main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    height: 300px;
    background-color: var(--cards);
    border-radius: 2%;
    border-left:  10px solid var(--border-clr);
    /* margin: 20px; */
    
}

.card p:nth-child(1) {
    padding: 60px 30px 5px 30px;
    font-size: 30px;
    font-weight: bold;
}

.card p:nth-child(2) {
    padding: 5px 30px 20px 30px;
    font-size: 1.1rem;
}

/* SIDE CARDS || */
.side-cards {
    padding-left: 1.1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
}

/* Announcement ||  */
.announcements {
    /* min-height: 20rem; */
    background-color: var(--cards);
    border-radius: 2%;
    padding: 30px;
}

.side-card-content h4 {
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

.side-card-content {
    padding: 20px 10px 20px 10px;
}

.side-card-content:nth-child(2) {
    border-bottom: solid 1px var(--light-txt-clr);
}

.side-card-content:nth-child(1) {
    border-bottom: solid 1px var(--light-txt-clr);
}

/* Trending || */
.trending {
    /* min-height: 8rem; */
    background-color: var(--cards);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2%;
    padding: 0.7rem;
    margin-top: 1rem;
}

.trending div {
    display: grid;
    grid-template-columns: 75px 0.2fr;
    justify-items: start;
    align-items: center;
}

.trending-profile {
    display: grid;
    justify-self: start;
    padding-left: 30px;
}

.trending-name {
    display: grid;
    grid-template-columns: 1fr;
}

.trending-name h5 {
    font-size: 1.1rem;
}

.trending-name p {
    padding-top: 0.2rem;
    color: var(--light-txt-clr);
}

.trending img {
    width: 60px;
}
